body{
	font-size:150%;
	color:#CD853F;
	background-color:#FFF5EE;
	font-family:Helvetica;
}
.show{
	background-color:lightblue;
	color:navy;
	text-align:center;
}
.row{
	margin-top:100px;
	min-height:100px;
	justify-content:space-between;
}
@media only screen and (max-width: 800px) {
body{
    background-color: black;
}
